<aside class="sidebar">
  <div class="brand">
    <i class="fa-solid fa-graduation-cap"></i>
    <span class="brand-text">Tutor Portal</span>
  </div>
  <nav>
    <a href="tutor-dashboard.html"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
    <a href="tutor-schedule.html"><i class="fa-solid fa-calendar-week"></i> Schedule</a>
    <a href="tutor-mentees.html"><i class="fa-solid fa-user-group"></i> Mentees</a>
    <a href="tutor-resources.html"><i class="fa-solid fa-folder-open"></i> Resources</a>
    <a href="tutor-profile.html"><i class="fa-solid fa-user"></i> Profile</a>
    <a class="logout" href="../index.html" onclick="localStorage.clear()">
      <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
  </nav>
</aside>
