<aside class="sidebar">
  <div class="brand">
    <i class="fa-solid fa-graduation-cap"></i>
    <span class="brand-text">Student Portal</span>
  </div>
  <nav>
    <a href="dashboard.html"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
    <a href="schedule.html"><i class="fa-solid fa-calendar-week"></i> Schedule</a>
    <a href="mentee-info.html"><i class="fa-solid fa-user-group"></i> Mentee Information</a>
    <a href="resources.html"><i class="fa-solid fa-folder-open"></i> Learning Resources</a>
    <a href="profile.html"><i class="fa-solid fa-user"></i> Profile</a>
    <a class="logout" href="../index.html" onclick="localStorage.clear()"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
  </nav>
</aside>
